#pp-canvas{
  display: inline-block;
  position: relative;
  left: 50%;

}

.pixels{
  border-color: black;
  border-width: 1px;
  border-style: solid;
  width: 20px;
  display: inline-block;
}

.colors{
  border-style: solid;
  border-width: 2px;
  width: 20px;
  height: 10px;
}

#masterDiv{
  display: inline-block;
}

#paletteDiv{
  display: inline-block;
}

#clearDiv{
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
}

#eraseDiv{
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
}