#canvas{
  display: inline-block;
/*  left: 50%;
  right: 50%;*/
  margin-left: 15%;
  background-color: white;
}

.pixels{
  border-color: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  /* width: 20px; */
  display: inline-block;

  /* height:20px; */
}

.colors{
  border-style: solid;
  border-width: 1px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

#pp-canvas{
  display: inline-block;
  top-margin: 30px;
  width: 100%;
}

#paletteDiv{
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  float: left;
}

h1{
  text-align: center;
  margin-bottom: 40px;
}

.buttons{
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  text-align: center;
  margin-top: 5px;
  background-color: white;
}

.buttons:hover{
  background-color: rgb(153, 204, 255);
}

.statusdisplay:hover{
  background-color: rgb(153, 204, 255);
}

.statusdisplay{
  height: 25px;
  color: black;
}

#preview{
  border-style: solid;
  border-width: 2px;
  border-radius:  5px;
  width:100%;
  height: 50px;
  margin-top: 5px;
  text-align: center;
  line-height: 50px;
  font: bold;
}