#canvas{
  display: inline-block;
  position: relative;
  left: 50%;
  right: 50%;
  top-margin: 20%;

}

.pixels{
  border-color: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  /* width: 20px; */
  display: inline-block;
  /* height:20px; */
}

.colors{
  border-style: solid;
  border-width: 2px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

#pp-canvas{
  display: inline-block;
  top-margin: 30px;
}

#paletteDiv{
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

#clearDiv{
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  text-align: center;
}

#eraseDiv{
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  text-align: center;
}

h1{
  text-align: center;
  margin-bottom: 40px;
}